head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://bootswatch.com/_vendor/bootstrap/dist/css/bootstrap.min.css")
    script(src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    //- script(src="/javascripts/peer-video.js")
    //- script(src="/socket.io/socket.io.js")
    script(src="dist/main.js")